<!-- <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
  <div class="name">
    <label for="name" name="userName">Name:</label>
    <input type="text" formControlName="userName" />
    <div class="" *ngIf="reactiveForm.get('userName')!.invalid && reactiveForm.get('userName')!.touched">
      Please Enter the name 
    </div>
  </div>
  <br />
  <div class="password">
    <label for="pasword" name="password">Password</label>
    <input type="password" formControlName="password" id="password" />
    <div class="" *ngIf="reactiveForm.get('password')!.invalid && reactiveForm.get('password')!.touched">
      Please Enter the password 
    </div>
  
  </div>
  <br />
  <div class="email">
    <label for="userEmail">Mail</label>
    <input type="email" formControlName="userMail" />
    <div class="" *ngIf="reactiveForm.get('userName')!.invalid && reactiveForm.get('userName')!.touched">
      Please Enter the name 
    </div>
  </div>
  <br />
  <div class="age">
    <label for="age" id="age">Age</label>
    <input type="number" formControlName="age" id="age" />
    <div class="" *ngIf="reactiveForm.get('userName')!.invalid && reactiveForm.get('userName')!.touched">
      Please Enter the name 
    </div>
  </div>
  <br />
  <div class="contact">
    <label for="number" id="number">Mobile Number</label>
    <input type="number" formControlName="number" id="number" />
    <div class="" *ngIf="reactiveForm.get('userName')!.invalid && reactiveForm.get('userName')!.touched">
      Please Enter the name 
    </div>
  </div>
  <br />
  <div class="date">
    <label for="date" id="date">Date</label>
    <input type="date" formControlName="date" id="date" />
    <div class="" *ngIf="reactiveForm.get('userName')!.invalid && reactiveForm.get('userName')!.touched">
      Please Enter the name 
    </div>
  </div>
  <br />
  <div class="radio">
    <label for="gender">Gender</label>
    <input type="radio" id="male" formControlName="gender" value="male" />
    <label for="male">Male</label>
    <input type="radio" id="female" formControlName="gender" value="female" />
    <label for="female">female</label><br />
    <div class="" *ngIf="reactiveForm.get('userName')!.invalid && reactiveForm.get('userName')!.touched">
      Please Enter the name 
    </div>
  </div>
  <br />


  <button type="submit" [disabled]="reactiveForm.invalid">Submit</button>
</form>


<button (click)="subscribe()">Subscribe</button> -->


<!-- CRUD -->
 <div [ngStyle]="{background:backColor}">
  <app-login></app-login>

  <button (click)="colorChange()">Change Color</button>
  
  <p> color is {{backColor}}</p>
 </div>


